body {
    margin: 0;
    padding: 0;
    border: 0;
}

.page_wrapper {
    display: flex;
    width: 810px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.card {
    background-color: white;
    width: 250px;
    padding: 10px;
}
.header {
    display: flex;
    align-items: center;
    padding: 0 10px 10px;
}
.header_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.header_title {
    margin-left: 10px;


}

.image_wrapper {
    margin-bottom: 10px;
}
.image {
    width: 250px;
}    
